<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1e2541cc15.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="caja__logo">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de header">
        </div>
        
        <section class="busqueda">
            <div class="navbar">        
                <nav>Buscar productos, marcas y más </nav>
            </div>
            <div class="buscador__header_home">
                <i class="fa-solid fa-magnifying-glass" style="color: #666;"></i>
            </div>
        </section>
    
    <h2 class="cuotas__header"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
    <nav class="site">
        <ul class="nav_izquierda">
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/ayudar">Ayudar</a></li>
        </ul>
        <ul class="nav_derecha">
            <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
            <li><a href="/misCompras">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    </header>
    <main>    
        <div class="formulario__register">
            <form action="/register" method="post">
                <input type="text" name="nombre" required minlength="3" placeholder="Nombre y Apellido">
                <input type="text" name="nombreUsuario" required minlength="3" placeholder="Nombre de usuari@">
                <input type="email" name="mail" placeholder="E-mail" required>
                <label for="fechaNacimiento">Fecha de nacimiento</label>
                <input type="date" name="fechaNacimiento" required>
                <input type="text" name="domicilio" required placeholder="Domicilio">
                <label for="perfilUsuario">Perfil de usuario</label>
                <p><input class="perfil" type="radio" name="perfilUsuario" value="vendedor">Vendedor</p>
                <p><input class="perfil" type="radio" name="perfilUsuario" value="comprador">Comprador</p>
                <label for="categorias">Categorías de interés</label>
                <p><input type="checkbox" name="categorias" value="electro">Electrodomesticos</p>
                <p><input type="checkbox" name="categorias" value="moda">Moda</p>
                <p><input type="checkbox" name="categorias" value="hogar">Hogar</p>
                <p><input type="checkbox" name="categorias" value="jugueteria">Jugueteria</p>
                <p><input type="checkbox" name="categorias" value="vidaSana">Vida Sana</p>
                <label for="fotoUsuario">Foto de usuario</label>
                <input type="file" required>
                <input type="password" name="contraseña" required minlength="8" placeholder="Contraseña">
                <input type="password" name="contraseña" required minlength="8" placeholder="Confirmar contraseña">
                <button class="enviar__register" type="submit">enviar</button>
                <button class="borrar__register" type="reset">Borrar</button>
            </form>
        </div>
    </main>
</body>
</html>